
 
.buts{
    margin-left: 20%;
    
    }
    #abt{
      border-radius: 10px;
      border: solid yellow;
      padding:20px 50px 20px;
    margin-top: 10%;
    background-color: yellow;
    }
    #rev{
      border-radius: 10px;
      margin-left: 20%;
      border: solid bisque;
    background-color:bisque;
      padding:20px 50px 20px;
    margin-left: 20%;
    }
    #vid{
      border-radius: 10px;
      background-color:bisque;
      margin-left: 20%;
      border: solid bisque;
      padding:20px 50px 20px;
    }
    .rise{
    margin-left: 30%;
    font-family:Arial, Helvetica, sans-serif
    
    }
    #fun{
    margin-top: 2%;
    margin-left: 45%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
    #tama{
      height: 40vh;
    width: 400px;
    margin-left: 20%;
    border: solid yellow;
    border-radius: 40px;
    }
    #army{
    
    
      height: 40vh;
      width: 400px;
      margin-left: 2%;
      border: solid yellow;
      border-radius: 40px;
    }
    #atwo{
      width: 400px;
      margin-left: 40%;
      margin-top: 1%;
      height: 40vh;
      border: solid yellow;
      border-radius: 40px;
    }
    #you{
    margin-top: 3%;
      margin-left: 40%;
    
    
    }
    .newoneee{
    width: 200px;
    height:25vh;
    margin-top: 1%;
    }
    .newtwo{
    margin-left: 5%;
    margin-top: -39%;
      width: 200px;
      height:25vh;
    
    }
    
    #newfour{
      width: 200px;
      height:25vh;
    margin-left: 10%;
    
    }
    #newthree{
    height: 25vh;
    width: 200px;
    margin-left: 5%;
    }
    
    #neg{
        border-radius: 20px;
  background-color: red;
      color:white;
    }
    #dag{
  margin-left: 20%;
  margin-top: -3%;
  
    }
    #the{
      margin-left: 48%;
      margin-top: -4%;
  
    }
    #san{
      margin-left: 72%;
      margin-top: -5%;  
    }
    .footer-column{
        display:flex;
        justify-content: space-between;
    }
    
    .footer{
      padding:50px;
      background-color: #26004C;
      color: #fff;
     
      height: 40vh;
      
    }
    .row{
      display: flex;
      justify-content: space-between;
    }
    .footer-two{
      
      display:flex;
      justify-content: space-between;
      
    }
    .flex{
        display:flex;
    }

  
    .column5,.column6,.column7{
      border-radius: 3px;
      box-shadow: 0 5px 20px rgb(0,0,0, .3);
      margin:15px;
      text-align: center;
  }
  
/* 
nav{
    display: flex;
    text-decoration: none;
    margin-left: 300px;
    padding: 10px;
    padding-right: 90px;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style-type: none;
    font-size: 20px;
    
}

nav,ul{
    
    /* border: double; 
    border-collapse: separate;
    border-top: 9px; */
   /* display: flex; 
   text-align: right;
   width: 100%;
   padding-right: 30px;
}
nav ul li{ */
   /* display: inline-block;
   padding-right: 35px;
   padding-left: 35px;
}
.footer{
    padding:50px;
    background-color: #26004C;
    color: #fff;
   
    height: 40vh;
    
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
  .footer-two{
    
    display:flex;
    justify-content: space-between;
    
  }
  .newoneee,.newtwo,.newthree,.newfour{
      border: white;
  }

.brickhouse4{
  background-color: yellow;
  display: flex;
  margin-bottom: 2px;
}
#brick4{
  width: 60px;
  height: 60px;
}
#catalog4{
  margin-top: 5%;
  padding-left: 3%;
  margin-left: 10%;
  padding: 10px;
}
#search4{
  margin-top: 5%;
  margin-left: 3%;
  padding-right: 15%;
}
.icon4{
  margin-left: 25%;
  margin-top: 3%;
  

  }
  #comp{

  }
  /* @media only screen and(max-width:700px) {
  body{
  display: grid;
/* 
.footer{
    padding:50px;
    background-color: #26004C;
    color: #fff;
   
    height: 40vh;
    
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
  .footer-two{
    
    display:flex;
    justify-content: space-between;
    
  }
  .newoneee,.newtwo,.newthree,.newfour{
      border: white;
  }

.brickhouse4{
  background-color: yellow;
  display: flex;
  margin-bottom: 2px;
}
#brick4{
  width: 60px;
  height: 60px;
}
#catalog4{
  margin-top: 5%;
  padding-left: 3%;
  margin-left: 10%;
  padding: 10px;
}
#search4{
  margin-top: 5%;
  margin-left: 3%;
  padding-right: 15%;
}
.icon4{
  margin-left: 25%;
  margin-top: 3%;
    } 