/* @media only screen and (min-width:768px){ */

.main{

  margin: left 5%;
  margin: right 5%;
}
.navbar{



}




  

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2% 26%;
    color: gray;
    text-align: center;
    
  }
  #firstimage{
    display:flex;
    border: solid 2px yellow;
    border-radius: 4px;
    background-color: yellow;
    justify-content: space-between;
  }
  #imag,#imag1,#imag2{
    width: 200px;
  }
  
  .btns{
    border: solid gray 2px;
    border-radius: 4px; 
    margin-top: 25px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  #search{
    border-radius: 4px; 
    margin-right: 450px;
    margin-top: 25px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .iconics{
    margin: 2%;
    padding-right: 5px;
  }
  
  #btn21{
    padding: 0px, 200px;
    margin-left: 0%;
    color: black;
    background-color:white;
    border: solid rgb(124, 243, 124) ;
    width: 300px;
    height: 40px;
    border-radius: 5px;
  }
  #btn22{
    padding: 0px, 150px;
    margin-left: 0%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
  }
  
  
  .orders{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  }
  #word1{
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    margin-left: 10%;
    
  }
  #word2{
    margin-left: 160%;
    margin-top: 3%;
  }
  #word21{
    margin-left: 125%;
    margin-top: 3%;
  }
  .order1{
    display: flex;
    justify-content: space-between;
  }
  
  #guide{
    
    margin-right: 11%;
    margin-left: 26%;
    margin-top: 6%;
    border-radius: 13px;
    border: solid 2px gray;
    background-color: white;
    font-weight: bolder;
    border-width: 100%;
    height: max-content;
    font-size:large;
    padding-left: 11px;
    padding-right: 22px;
    justify-content: space-between;
  }
  #ins{
    text-align: center;
    font-size: 40px;
  }
  .img2{
    display: flex;
    justify-content: space-between;
    margin: 4% 11%;
  }
  #im1,#im2,#im3,#im4{
    width: 200px

    }
  #btn2{
    padding: 0px, 100px;
    margin-left: 46%;
    color: white;
    background-color: orange;
    border: solid orange 25px;
    border-radius: 5px;
  }
  #btn2b{
    padding: 0px, 152px;
    margin-left: 40%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 298px;
    height: 41px;
    border-radius: 5px;
  }
  .min{

  }
  
  
  .end{
    display: flex;
    color: white;
    padding: 1% 1%;
    align-items: center;
    justify-content: space-between;
    background-color: #26004c;
  
  }
  .endline{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #26004c;
    
    padding-right: 37%;
    padding-left: 1%;
  }
  @media screen and (max-width: 667px){
  .iconics{
margin-left: -250%;


  }

  #im1,#im2,#im3,#im4{
    width: 200px
    

    }
  #search{
    margin-left: -50%;
    border-radius: 4px; 
    margin-right: 450px;
    margin-top: 25px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .btns{
    margin-left: -200%;
    border: solid gray 2px;
    border-radius: 4px; 
    margin-top: 25px;
    padding-right: 1px;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .orders{
  
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
  }

  .order1{
    width: 8%;
    height: 20%;
    display: flex;
    justify-content: space-between;
  }
  
  
  #imag, #imag1, #imag2{
    
    width: 90px;
  }
  

  #word1{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2%;
    margin-left: 5%;
    
  }
  #word2{
    margin-left: 120%;
    margin-top: 3%;
  }
  .min{
    margin-top: -15px;
    font-size: 15px;
    /* justify-content: space-between; */
  }
  #bet{
    margin-top: -5px;
    size: 1px;
    border-radius: 2px;
    padding: 1px;
  }
  #money1{
margin-left: -50px;
  }
  #money2{
margin-left: -50px;
  }
  #money3{
    margin-left: -90px;
  }

  #guide{
  
    margin-right: -9%;
    width: 140px;
    
    border: solid 3px;
    margin-left: -35px;
    border-radius: 4%;
    size-adjust: 5px;
    padding: 0px;

  }
  #duct{
    font-size: 15px;

  }
  #btn21{
    padding: 0px, 50px;
    margin-left: 0%;
    color: black;
    background-color:white;
    border: solid rgb(124, 243, 124) ;
    width: 130px;
    height: 40px;
    border-radius: 5px;
  }
  #btn22{
    padding: 0px, 120px;
    margin-left: 0%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
  }
  #ins{
    margin-left: 6px;
    font-size:10px;
  }

  #firstimage{
    font: small 10px;
    display:flex;
    border: solid 1px yellow;
    border-radius: 2px;
    background-color: yellow;
    justify-content: space-between;
  }

  #im1,#im2,#im3,#im4{
    width: 70px




  }

  
  #btn2b{
    padding: 0px, 102px;
    margin-left: 15%;
    color: white;
    background-color: orange;
    border: solid orange 5px;
    width: 298px;
    height: 41px;
    border-radius: 5px;
  }
    .end{
      display: grid;
    }

    }    
    
  